*{
	background-color: #c41227;
	color: white;
	font-family: Amarante;
}
#banner{
	height: 300px;
}
#mid{
	border: solid 5px;
	border-color: white;
	height: 900px;
	margin-left: 10px;
	width: 47.75%;
	float: left;
	padding: 5px;
}
#mid1{
	border: solid 5px;
	border-color: white;
	height: 900px;
	width: 47.75%;
	float: right;
	margin-right: 10px;
	padding: 5px;
}
#mid2{
	border: solid 5px;
	border-color: white;
	height: 700px;
	margin-left: 10px;
	width: 47.75%;
	float: left;
	padding: 5px;
}
#mid3{
	border: solid 5px;
	border-color: white;
	height: 700px;
	width: 47.75%;
	float: right;
	margin-right: 10px;
	padding: 5px;
}
#mid4{
	border: solid 5px;
	border-color: white;
	height: 550px;
	margin-left: 10px;
	width: 47.75%;
	float: left;
	padding: 5px;
}
#mid5{
	border: solid 5px;
	border-color: white;
	height: 550px;
	width: 47.75%;
	float: right;
	margin-right: 10px;
	padding: 5px;
}
#stopka{
	border: solid 5px;
	border-color: white;
	height: 25px;
	width: 97.5%;
	margin: 10px;
	text-align: right;
	float: left;
}
#image{
	width: 97.5%;
	height: 250px;
	border: solid 7px;
	border-color: white;
	margin: 10px;
	float: left;
	
}
#pomoc{
	margin: 10px;
	margin-bottom: 10px;
	
}
#paszteciki{
	height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: solid 5px;
	border-color: white;
}
#zupa{
	height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: solid 5px;
	border-color: white;
}
#grzyby{
	height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: solid 5px;
	border-color: white;
}
#pierogas{
	height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: solid 5px;
	border-color: white;
}
#salata{
	height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: solid 5px;
	border-color: white;
}
.squad{
	text-align: center;
}
.href{
	width: 19.235%;
	height: 25px;
	border: solid 5px;
	border-color: white;
	float: left;
	border-bottom-style: hidden;
	text-align: center;
}
